:root{
  --white_color: #ffffff;
}

body {
  background-image: url("https://phonoteka.org/uploads/posts/2022-01/1642923345_50-phonoteka-org-p-fon-odnotonnii-temnii-53.jpg");
  color: var(--white_color);
}

p {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 60px;
  margin: 20px;
}

button {
  width: 70px;
  height: 70px;
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: 3px solid var(--white_color);
  border-radius: 50%;
  margin: 0;
  font-size: 16px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
  color: var(--white_color);
  opacity: 0.7;
  font-size: 50px;
}

.material-symbols-outlined:hover {
  opacity: 1;
}

.stopwatch,
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.stopwatch {
  margin-bottom: 100px;
}

.clock {
  display: flex;
  justify-content: center;
}

.time_controls {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
